.header {
  @apply flex items-center relative bg-primary;
  height: 52px;

  .container {
    @apply mx-auto px-4 flex items-center;
  }

  .title {
    @apply flex items-center grow text-white;

    font-size: 1.1rem;
    .logo {
      @apply mr-2;
      font-size: 2.6em;
    }
    .text {
      @apply hidden md:block;
    }
  }
  .search-toggle {
    @apply text-white text-xl md:hidden;
  }

  @screen sm {
    height: 80px;
    .title {
      font-size: 1.5rem;
    }
  }
  @screen lg {
    height: 120px;
    .title {
      font-size: 1.8rem;
    }
  }

  .searchbar {
    @apply absolute bg-white left-0 right-0 top-0 bottom-0 z-10 px-3 py-4 shadow items-center md:hidden;

    button {
      @apply ml-1 text-sm;
    }
    input {
      @apply border;
    }
  }
}
